name: Build

on:
  push:
    branches: [ main ] # Cambia 'main' por el nombre de tu rama principal (puede ser 'master')
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest # Usar Ubuntu es más común y estable para este tipo de análisis
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Desactiva clones superficiales para una mejor relevancia del análisis

      - name: Set up JDK 11 # Si tu proyecto es Java, descomenta esto y ajusta la versión
        if: ${{ matrix.language == 'java' }}
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        if: ${{ matrix.language == 'java' }}
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: SonarCloud Scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        uses: SonarSource/sonarcloud-github-action@master
        with:
          args: >
            -Dsonar.projectKey=angelo1200_gs-spring-boot
            -Dsonar.organization=angelo1200
            -Dsonar.host.url=https://sonarcloud.io

            "Add SonarCloud analysis workflow"
